.conta
{
    display: flex;
    justify-content: flex-start;
    margin: 20px auto;

}
.aboutme
{
    margin: 20px auto;
    padding: 100px;
}

h1{
    font-size: 60px;
    font-weight: 500;
    text-align: center;
}

p, .p2
{
    text-align: justify;
    max-width: none;
}

@media screen and (max-width: 768px)
{

    .aboutme
    {
        margin: 1rem auto;
        padding: 10%;  
    }

    h1
    {
        font-size: 5vw;
    }
  /*Estilos para dispositivos móviles*/
}

@media (min-width: 768px) and (max-width: 1024px) 
{


  /*Estilos para tabletas*/
}



@media (min-width: 1024px) and (max-width: 1280px) {

  /*Estilos para pantallas pequeñas*/
}


@media (min-width: 1280px) {
  /*Estilos para pantallas grandes*/
}