
.contenedor
{
    display: flex;
    justify-content: flex-start;
    margin: 20px auto;
}
.formaciones
{
    margin: 20px auto;
    padding: 100px;  
}

p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: left;
    overflow-wrap: break-word;
    max-width: calc(100% - 0px);
  }


#span1
{
    color: #353641;
    font-size:1vw;
    font-family:'Roboto-Medium', 'Roboto';
    font-weight:500;
}
#span2
{
    fill: #353641;
    font-size: 2vw;
    font-family: 'Roboto-Bold', 'Roboto';
    font-weight: 700;
}
#span3
{
    fill:#353641;
    font-size: 1vw;
    font-family: 'Roboto-Regular', 'Roboto';

}



@media screen and (max-width: 768px) {
    .formaciones
    {
        padding: 12%;
        margin: 1rem auto;
    }    
    p {
        font-size: 2.5vw;
        max-width: calc(100% - 0vw);
      }
    
    
    #span1
    {
        font-size:2vw;
        font-weight:500;
    }
    #span2
    {
        font-size: 3vw;
        font-weight: 700;
    }
    #span3
    {
        font-size: 2vw;    
    }
  /*Estilos para dispositivos móviles*/
}
@media (min-width: 768px) and (max-width: 1024px) 
{

  .formaciones
  {
      padding: 12%;
      margin: 1rem auto;
  }    
  p {
      font-size: 2.5vw;
      max-width: calc(100% - 0vw);
    }
  
  
  #span1
  {
      font-size: 2vw;
      font-weight:500;
  }
  #span2
  {
      font-size: 3vw;
      font-weight: 700;
  }
  #span3
  {
      font-size: 2vw;    
  }
  /*Estilos para tabletas*/
}

@media (min-width: 1024px) and (max-width: 1280px)
{
  .formaciones
  {
      padding: 12%;
      margin: 1rem auto;
  }    
  p {
      font-size: 2.5vw;
      max-width: calc(100% - 0vw);
    }
  
  
  #span1
  {
      font-size: 2vw;
      font-weight:500;
  }
  #span2
  {
      font-size: 3vw;
      font-weight: 700;
  }
  #span3
  {
      font-size: 2vw;    
  }
  /*Estilos para pantallas pequeñas*/
}


@media (min-width: 1280px) {
  
  /*Estilos para pantallas grandes*/
}