
.contenedor
{
    display: flex;
    justify-content: flex-start;
    margin: 20px auto;

    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.formaciones
{
    margin: 20px auto;
    padding: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: left;
    overflow-wrap: break-word;
    max-width: calc(100% - 0px);
  }


#span1
{
    color: #353641;
    font-size:1vw;
    font-family:'Roboto-Medium', 'Roboto';
    font-weight:500;
}
#span2
{
    fill: #353641;
    font-size: 2vw;
    font-family: 'Roboto-Bold', 'Roboto';
    font-weight: 700;
}
#span3
{
    fill:#353641;
    font-size: 1vw;
    font-family: 'Roboto-Regular', 'Roboto';

}



@media screen and (max-width: 768px) {
    .formaciones
    {
        padding: 15%;
    }    
    p {
        font-size: 18%;
        max-width: calc(100% - 0vw);
      }
    
    
    #span1
    {
        font-size:3vw;
        font-weight:500;
    }
    #span2
    {
        font-size: 4vw;
        font-weight: 700;
    }
    #span3
    {
        font-size: 3vw;    
    }

  /*Estilos para dispositivos móviles*/
}

@media (min-width: 768px) and (max-width: 1024px) 
{


  /*Estilos para tabletas*/
}



@media (min-width: 1024px) and (max-width: 1280px) {

  /*Estilos para pantallas pequeñas*/
}


@media (min-width: 1280px) {
  /*Estilos para pantallas grandes*/
}