* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #353641;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #353641;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #353641;
  text-decoration: none;
}

nav a {
  color: #353641;
  text-decoration: none;
  position: relative;
}

nav a:hover:after {
  content: '';
  display: block;
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #353641;
  bottom: -5px;
  left: 25%;
}

.center {
  text-align: left;
  margin-left: 206px;
}

h1 {
  font-size: 60px;
  font-weight: 500;
  text-align: left;
}

h2 {
  font-size: 120px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
}

p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: left;
  overflow-wrap: break-word;
  max-width: calc(100% - 200px);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #353641;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  border: 0;
  border-radius: 20px;
  text-decoration: none;
}

.container {
display: flex;
justify-content: flex-start;
margin: 20px auto;
}

.info{
max-width: 1200px;
/*margin: 20px auto;*/
padding: 200px;
/*
background-color: #fff;
border: 1px solid #ccc;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
}

.image img{
  width: 630px;
  position: fixed;
  z-index: 2;
  bottom: 0;
}

.wave{
color: white;
text-align: center;
position: fixed;
bottom: 0;
width: 100%;
z-index: 1;
}

nav a.active:after {
  content: '';
  display: block;
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #353641;
  bottom: -5px;
  left: 25%;
}

.abrir-menu{
  display: none;
}
.cerrar-menu{
  display: none;
}

@media screen and (max-width: 768px) {
  
  h1 {
    font-size: 5vw;
  }
  
  h2 {
    font-size: 10vw;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 4vw;
    margin-bottom: 1rem;
    text-align: justify;
    max-width: calc(100% - 4rem);
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 4vw;
    font-weight: 400;
    border-radius: 1rem;
  }

 .abrir-menu, .cerrar-menu{
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu{
    color: #353641;
  }

  .cerrar-menu{
    color: #ffffff;
  }

  .nav{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #353641;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
    z-index: 3;
  }
  .nav.visible
  {
    opacity: 1;
    visibility: visible;
  }

  .nav-list
  {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
  color: #ffffff;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20% auto;
    }

  .info{
    max-width:65%;
    padding: 2vh;
    order: 1;
    }

  .image{
    display: flex;
    width: 100%;
    order: 2;
  }
  .image img{
    max-width: 100%;
    position: relative;
    z-index: 1;
    bottom: 0;
  }

  .wave{
    display: none;
    }

  /*Estilos para dispositivos móviles*/
}


@media (min-width: 768px) and (max-width: 1024px) 
{


  /*Estilos para tabletas*/
}



@media (min-width: 1024px) and (max-width: 1280px) {

  /*Estilos para pantallas pequeñas*/
}


@media (min-width: 1280px) {
  /*Estilos para pantallas grandes*/
}

